{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 100,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "auto",
  "bracketSameLine": false,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^../pages/(.*)$",
    "^../routes/(.*)$",
    "^../components/(.*)$",
    "^../utils/(.*)$",
    "^../apis/(.*)$",
    "^../hooks/(.*)$",
    "^../contexts/(.*)$",
    "^../stores/(.*)$",
    "^../libs/(.*)$",
    "^../styles/(.*)$",
    "^../constants/(.*)$",
    "^../common/(.*)$",
    "^../assets/(.*)$",
    "^../types/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
